.content { 
    color: #2C3E50;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



 .col-md-12, .col-md-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  
 }


 .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  
  
  .img-responsive
   {
    display: block;
    width: 50%;
    height: 50;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 10px;
}
.subcontent > p {
  color: #7F8C8D;
  line-height: 2;
}
div{
  display: block;
}

*:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }




*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html{
  -webkit-text-size-adjust: 100%;
}

.row:before{
  display: table;
  content: " ";

}
img{
  
  vertical-align: middle;
  border: 0;
  
  overflow-clip-margin: content-box;
  overflow: clip;
}
.row:after{
  display: table;
  content: " ";

}
.container:before{
  display: table;
  content: " ";

}
.container:after{
  display: table;
  content: " ";

}
@media (min-width: 768px){
  .container {
    width: 750px;
}
}

*:before, *:after{
  box-sizing: border-box;
}